<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Regístrate</h1>
  <form action="/register" method="POST">
    <div>
      <label for="nombre">Nombre</label>
      <input required type="text" name="nombre" id="nombre">
    </div>
    <div>
      <label for="precio">Precio</label>
      <input required type="text" name="precio" id="precio">
    </div>
    <div>
      <label for="stock">Stock</label>
      <input required type="number" name="stock" id="stock">
    </div>
    <div>
      <label for="descripcion">Descripción</label>
      <textarea required name="descripcion" id="descripcion"></textarea>
    </div>
    <div>
      <button type="submit">Enviar</button>
    </div>
  </form>
</body>
</html>